.advertise-main {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    height: 10.8rem;
}
.advertise-text {
    position: absolute;
    top: 4.05rem;
    left: calc(50% - 19px);
    letter-spacing: -0.24px;
    display: inline-block;
    width: 3.7rem;
    height: 2.8rem;
}
.advertise-box {
    position: absolute;
    width: calc(100% - 30px);
    top: 8.3rem;
    right: 1.3rem;
    left: 1.7rem;
    height: 10.8rem;
    font-size: 2rem;
    color: #000;
}
.aboard-name-box,
.moblie {
    position: absolute;
    top: 0;
    left: 0;
}
.moblie {
    width: 39rem;
    height: 84.4rem;
    overflow: hidden;
    display: none;
}
.aboard-name-box {
    width: 100%;
    right: 0;
    border-radius: 10px;
    background-color: #eaeff3;
    height: 6.7rem;
}
.aboard-name-text-detail,
.aboard-name-text-type {
    position: absolute;
    left: 0;
    letter-spacing: -0.24px;
    display: inline-block;
}
.aboard-name-text-type {
    top: 0;
    width: 21.1rem;
    height: 2.2rem;
}
.aboard-name-text-detail {
    top: 2.5rem;
    font-size: 1.3rem;
    color: #721ea6;
    width: 32rem;
    height: 1.6rem;
}
.aboard-name-text {
    position: absolute;
    top: 1.3rem;
    left: 2.7rem;
    width: 32rem;
    height: 4.1rem;
}
.aboard-name {
    position: absolute;
    width: calc(100% - 30px);
    top: 20.7rem;
    right: 1.5rem;
    left: 1.5rem;
    height: 6.7rem;
    font-size: 1.8rem;
    color: #000;
    font-family: Roboto;
}
.aboard-form-subject-rec {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 3.9rem;
}
.div {
    position: absolute;
    top: 1rem;
    left: 1.39rem;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    width: 20.74rem;
}
.aboard-form-subject {
    position: absolute;
    width: calc(100% - 40px);
    top: 29.7rem;
    right: 2rem;
    left: 2rem;
    height: 3.9rem;
}
.aboard-form-content-rec {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    height: 19.4rem;
}
.aboard-form-content-text {
    position: absolute;
    top: 1.1rem;
    left: 1.2rem;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    width: 26.51rem;
    height: 2.2rem;
}
.aboard-form-content {
    position: absolute;
    width: calc(100% - 40px);
    top: 35.8rem;
    right: 2rem;
    left: 2rem;
    height: 19.4rem;
    opacity: 0.6;
}
.aboard-form-fileupload-placeho {
    position: absolute;
    top: 1rem;
    left: 4.64rem;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    width: 26.77rem;
}
.aboard-form-fileupload-icon {
    position: absolute;
    top: 1.4rem;
    left: 1.85rem;
    width: 1.74rem;
    height: 1.2rem;
}
.aboard-form-fileupload-cnt-tex {
    position: absolute;
    top: 4.5rem;
    right: 0;
    letter-spacing: 0.01em;
    font-weight: 500;
    text-align: right;
    display: inline-block;
    width: 23.41rem;
}
.aboard-form-fileupload {
    position: absolute;
    width: calc(100% - 40px);
    top: 72.6rem;
    right: 2rem;
    left: 2rem;
    height: 6.4rem;
}
.aboard-form-btn-child {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    background-color: #721ea6;
    width: 11.8rem;
    height: 3.3rem;
}
.aboard-form-btn-text {
    position: absolute;
    top: 0.7rem;
    right: 1.1rem;
    letter-spacing: 0.03em;
    font-weight: 500;
    display: inline-block;
    width: 7.2rem;
    height: 1.6rem;
}
.aboard-form-btn-icon {
    position: absolute;
    top: 0.5rem;
    right: 8.3rem;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;
}
.aboard-form-btn {
    position: absolute;
    top: 81.3rem;
    right: 2rem;
    width: 11.8rem;
    height: 3.3rem;
    text-align: center;
    color: #fff;
}
.aboard-form-photo1,
.aboard-form-photo2,
.aboard-form-photo3 {
    position: absolute;
    top: 0;
    left: calc(50% - 175px);
    background-color: #fff;
    width: 7rem;
    height: 7rem;
}
.aboard-form-photo2,
.aboard-form-photo3 {
    left: calc(50% - 105px);
}
.aboard-form-photo3 {
    left: calc(50% - 35px);
}
.aboard-form-photo4 {
    top: 0.1rem;
    left: calc(50% + 35px);
}
.aboard-form-photo4,
.aboard-form-photo5,
.aboard-form-photo6 {
    position: absolute;
    background-color: #fff;
    width: 7rem;
    height: 7rem;
}
.aboard-form-photo5 {
    top: 0;
    left: calc(50% + 105px);
}
.aboard-form-photo6 {
    top: 6.9rem;
    left: calc(50% - 175px);
}
.aboard-form-photo10,
.aboard-form-photo7,
.aboard-form-photo8,
.aboard-form-photo9 {
    position: absolute;
    top: 6.9rem;
    left: calc(50% - 105px);
    background-color: #fff;
    width: 7rem;
    height: 7rem;
}
.aboard-form-photo10,
.aboard-form-photo8,
.aboard-form-photo9 {
    left: calc(50% - 35px);
}
.aboard-form-photo10,
.aboard-form-photo9 {
    left: calc(50% + 35px);
}
.aboard-form-photo10 {
    left: calc(50% + 105px);
}
.aboard-form-photo-list {
    position: absolute;
    top: 56.9rem;
    left: calc(50% - 175px);
    width: 35rem;
    height: 13.9rem;
}
.aboard-form {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 87.8rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.3rem;
    color: #626567;
    font-family: "Noto Sans KR";
}
