.text-content-resume {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.24px;
    font-weight: bold;
  }
  .resume-add-box {
    position: absolute;
    width: 100%;
    top: 7rem;
    right: 0;
    left: 0.1rem;
    border-radius: 15px;
    background-color: #eee;
    height: 17.4rem;
  }
  .resume-add-button-icon {
    position: absolute;
    top: 12.6rem;
    left: calc(50% - 17.5px);
    width: 3.4rem;
    height: 3.4rem;
  }
  .text-add-newresume {
    position: absolute;
    top: 16.7rem;
    left: calc(50% - 86.5px);
    font-size: 1.4rem;
    letter-spacing: -0.24px;
    color: #444;
  }
  .content-resume {
    position: absolute;
    top: 42.7rem;
    left: 2.1rem;
    width: calc(100% - 4.4rem);
    height: 24.4rem;
  }
  .resume-none {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 200rem;
    text-align: left;
    font-size: 2rem;
    color: #000;
    font-family: "Noto Sans KR";
  }
  
  .resume-box {
    position: absolute;
    width: 100%;
    top: 7rem;
    right: 0;
    left: 0.1rem;
    border-radius: 15px;
    background-color: #F5EFF9;
    /* height: 17.4rem; */
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  .member_info_box{
    margin-top: 4.4rem;
    /* margin-left: 2.2rem; */
  }

  .member_info_box,
  .member_info_box_email_box,
  .member_info_box_hp_box{
    display: flex;
    justify-content: flex-start;
  }

  .member_info_box_userphoto{
    width: 9rem;
    height: 9rem;
    border-radius: 8rem;
    border: 1px solid #D9D9D9;
    background: lightgray 50% / cover no-repeat, #FFF;
  }

  .member_info_box_userphoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8rem;
  }

  .member_info_box_util{
    /* width: 36rem; */
    margin-right: auto;
  }

  .member_info_box_username{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.024rem;
  }

  .icon-email,
  .icon-hp{
    width: 1.8rem;
    margin-right: 0.9rem;
  }

  .member_info_box_email,
  .member_info_box_hp{
    color: #626567;
    font-family: Noto Sans KR;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.024rem;
  }

  .member_info_box_email_box{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .resume_info_box_01,
  .resume_info_box_02,
  .resume_info_box_03,
  .resume_info_box_04{
    width: 100%;
    /* height: 10rem; */
    border-radius: 1rem;
    background: #FFF;
    margin-top: 1rem;
    padding: 1.2rem 1.5rem 2.2rem 1.5rem;
  }

  .resume_info_box_title{
    color: #000;
    font-family: Noto Sans KR;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.024rem;
  }

  .resume_info_box_content{
    margin-top: 1.2rem;
    width: auto;
    /* height: 3.1rem; */
    border-radius: 0.5rem;
    border: 1px solid #D7BCE8;
    background: #FFF; 
  }