.text-constent-withdrawal {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    letter-spacing: -0.24px;
    font-weight: 700;
  }
  .p {
    margin: 0;
  }
  .text-before-withdrawal {
    position: absolute;
    top: 7rem;
    left: 0;
    font-size: 2rem;
    letter-spacing: -0.24px;
    font-weight: 700;
  }
  .ul {
    margin: 0;
    /* padding-left: 1.33rem; */
  }
  .text-withdrawal-confirm-01 {
    position: absolute;
    top: 15.2rem;
    left: 0.1rem;
    font-size: inherit;
    letter-spacing: -0.24px;
    font-family: inherit;
    font-weight: 700;
  }
  .text-withdrawal-confirm-conten {
    position: absolute;
    top: 18.2rem;
    left: 0.5rem;
    letter-spacing: -0.24px;
    color: #444;
  }
  .text-withdrawal-confirm-02 {
    position: absolute;
    top: 25.8rem;
    left: 0.1rem;
    font-size: inherit;
    letter-spacing: -0.24px;
    font-family: inherit;
    font-weight: 700;
  }
  .text-withdrawal-confirm-conten1 {
    position: absolute;
    top: 28.8rem;
    left: 0.1rem;
    letter-spacing: -0.24px;
    color: #444;
  }
  .content-withrawal-child {
    position: absolute;
    top: 39.65rem;
    left: 0.05rem;
    border-top: 1px solid #e4e4e4;
    box-sizing: border-box;
    width: 100%;
    height: 0.1rem;
  }
  .text-user-confirm {
    position: absolute;
    top: 42.7rem;
    left: 0.1rem;
    font-size: 1.8rem;
    letter-spacing: -0.24px;
    font-weight: 700;
  }
  .text-content-withdrawal-email,
  .user-email-confirm {
    position: absolute;
    top: 45.7rem;
    left: 0.1rem;
    letter-spacing: -0.24px;
    color: #444;
  }
  .text-content-withdrawal-email {
    top: 50rem;
  }
  .email-input-box,
  .withrawal-button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #d3d4d8;
    box-sizing: border-box;
    height: 4.7rem;
  }
  .email-input-box {
    /* width: calc(100% - 8rem); */
    width: 78%;
    right: 8rem;
    left: 0;
  }
  .withrawal-button {
    width: 20.5%;
    right: 0;
    font-size: 1.3rem;
    /* left: 27.4rem; */
  }
  .text-go-withdrawal {
   text-align: center;
  }
  .email-confirm-box {
    position: absolute;
    width: 100%;
    top: 53.9rem;
    right: 0;
    left: 0.1rem;
    height: 4.7rem;
    color: #444;
  }
  .content-withrawal {
    position: absolute;
    /* top: 42.7rem; */
    left: 2.1rem;
    width: calc(100% - 4.4rem);
    /* height: 58.6rem; */
  }
  .withrawal {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 67rem;
    text-align: left;
    font-size: 1.6rem;
    color: #000;
    font-family: "Noto Sans KR";
    margin-top: 3.7rem;
    margin-bottom: 4.4rem;
  }
  
  .email-input-box-error{
    position: absolute;
    width: 76.5%;
    top: 0;
    right: 8rem;
    left: 0;
    border-radius: 5px;
    box-sizing: border-box;
    height: 4.7rem;
    outline: none;
    border: 2px solid red !important;
  }

  .withdrawal-signup-guest-email-reg-input{
    position: absolute;
    /* width: calc(100% - 218px); */
    width: 100%;
    top: 59.9rem;
    right: 0;
    left: 0;
    height: 3rem;
    color: #626567;
    
  }

  .withdrawal-signup-guest-email-reg-timelef {
    position: absolute;
    top: 63rem;
    /* right: 18rem; */
    left: 0;
    font-size: 1.1rem;
    letter-spacing: 0.01em;
    color: #721ea6;
    text-align: right;
    display: inline-block;
    /* width: 13rem; */
}

.withdrawal-signup-guest-text-color-error {
  color: red;
}

.withdrawal-signup-guest-email-inputbox2 {
  border-radius: 0 5px 5px 0;
  background-color: #f5eff9;
  border: 1px solid #d2d2d2;
  width: 6rem;
}

.withdrawal-signup-guest-email-reg-send-te1 {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 4.6rem;
  text-align: center;
}

.withrawal-button-finish {
  position: absolute;
  /* width: calc(100% - 218px); */
  width: 100%;
  top: 65rem;
  right: 0;
  left: 0;
  height: 4rem;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d3d4d8;
  box-sizing: border-box;
  color: #fff;
}

.content-withrawal-guest {
  position: absolute;
  /* top: 35.7rem; */
  left: 2.1rem;
  width: calc(100% - 4.4rem);
  height: 58.6rem;
}

.withdrawal-signup-guest-email-input-reg-b {
  width: 100%;
  left: 0;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.withdrawal-signup-guest-email-inputbox2 {
  border-radius: 0 5px 5px 0;
  background-color: #f5eff9;
  border: 1px solid #d2d2d2;
  width: 6rem;
}