.advertise-main {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  height: 7rem;
}
.advertise-text {
  position: absolute;
  top: 2.63rem;
  left: calc(50% - 18px);
  letter-spacing: -0.24px;
}
.advertise-box {
  position: absolute;
  width: calc(100% - 30px);
  top: 4.75rem;
  right: 0.94rem;
  left: 0.94rem;
  height: 7rem;
  font-size: 1.25rem;
  color: #000;
}
.board-detail-type-hr-icon {
  position: absolute;
  width: calc(100% - 41px);
  top: 15.22rem;
  right: 1.31rem;
  left: 1.25rem;
  max-width: 100%;
  overflow: hidden;
  height: 0.13rem;
}
.board-detail-type-text {
  position: absolute;
  top: 13.69rem;
  left: 1.5rem;
  font-size: 0.88rem;
  letter-spacing: -0.24px;
}
.notice-detail-info-profile-img-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 4.3rem;
  height: 4.3rem;
  object-fit: cover;
}
.notice-detail-info-nickname {
  position: absolute;
  top: 0.2rem;
  left: 5.3rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #1c1c1c;
  display: inline-block;
  width: 18rem;
  height: 1.7rem;
}
.span {
  color: #721ea6;
}
.notice-detail-info-status-text,
.notice-detail-info-status-text1 {
  position: absolute;
  top: 2.3rem;
  left: 12.8rem;
  letter-spacing: -0.24px;
  display: inline-block;
  width: 10rem;
}
.notice-detail-info-status-text1 {
  left: 5.4rem;
  width: 5rem;
}
.notice-detail-info-status-view-icon {
  position: absolute;
  top: 2.75rem;
  left: 11rem;
  width: 1.4rem;
  height: 0.94rem;
}
.notice-detail-info {
  position: absolute;
  top: 29rem;
  left: 2.7rem;
  width: 18.8rem;
  height: 4.3rem;
}
.hboard-url-icon {
  position: absolute;
  top: 27.13rem;
  right: 3rem;
  width: 1.87rem;
  height: 2.35rem;
  cursor: pointer;
}
.fboard-delete-icon,
.fboard-update-icon {
  position: absolute;
  top: 27.13rem;
  right: 6rem;
  width: 3.2rem;
  height: 2.35rem;
  overflow: hidden;
}
.fboard-delete-icon {
  top: 27.13rem;
  right: 10rem;
  width: 2.2rem;
  height: 2.35rem;
}
.board-detail-header-btn-like-i-icon {
  position: absolute;
  top: 0.28rem;
  right: 1.5rem;
  width: 0.69rem;
  height: 0.56rem;
}
.board-detail-header-btn-like-t {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: -0.24px;
}
.notice-detail-header-btn-like {
  position: absolute;
  top: 0;
  right: 2.31rem;
  width: 2.19rem;
  height: 1.06rem;
}
.board-detail-header-btn-dislik-icon {
  position: absolute;
  top: 0.35rem;
  right: 1.13rem;
  width: 0.69rem;
  height: 0.56rem;
}
.notice-detail-header-btn-disli {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.81rem;
  height: 1.06rem;
}
.notice-detail-header-btn {
  position: absolute;
  top: 19.56rem;
  right: 1.69rem;
  width: 4.5rem;
  height: 1.06rem;
}
.p {
  margin: 0;
}
.board-detail-textarea-contents {
  position: absolute;
  width: 100%;
  top: 4.19rem;
  left: 0;
  letter-spacing: -0.24px;
  display: inline-block;
  height: 26.94rem;
}
.board-detail-textarea-subject {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.13rem;
  letter-spacing: -0.24px;
  color: #000;
}
.board-detail-textarea {
  position: absolute;
  width: calc(100% - 74px);
  top: 35.7rem;
  right: 3.7rem;
  left: 3.7rem;
  /*height: 49.8rem;*/
  font-size: 1.3rem;
}
.board-detail-listback-rec,
.board-detail-photo {
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
}
.board-detail-photo {
  top: 55rem;
  left: calc(50% - 150px);
  border: 1px solid #fff;
  width: 18.75rem;
  height: 18.75rem;
}
.board-detail-listback-rec {
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #bdc0c4;
  width: 4.25rem;
  height: 2.19rem;
}
.board-detail-listback-text {
  position: absolute;
  top: 0.5rem;
  left: 1.94rem;
  letter-spacing: -0.24px;
  font-weight: 500;
  display: inline-block;
  width: 2.38rem;
}
.board-detail-listback-icon {
  position: absolute;
  top: 0.59rem;
  left: 0.63rem;
  width: 1rem;
  height: 1.06rem;
  overflow: hidden;
}
.board-detail-listback {
  position: absolute;
  top: 75.31rem;
  left: 2.56rem;
  width: 4.31rem;
  height: 2.19rem;
  font-size: 0.81rem;
  color: #747474;
}
.board-detail-counter-like-box {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
  width: 2.13rem;
  height: 2.38rem;
}
.board-detail-counter-like-icon {
  position: absolute;
  top: 1.04rem;
  right: 0.6rem;
  width: 1.38rem;
  height: 0.52rem;
}
.board-detail-counter-like {
  position: absolute;
  top: 0;
  right: 5.5rem;
  width: 2.13rem;
  height: 2.38rem;
}
.board-detail-counter-num-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
  width: 3.5rem;
  height: 2.38rem;
}
.board-detail-counter-num-text {
  position: absolute;
  top: 0.63rem;
  right: 1.06rem;
  letter-spacing: -0.24px;
  font-weight: 500;
}
.board-detail-counter-num {
  position: absolute;
  top: 0;
  right: 2.06rem;
  width: 3.5rem;
  height: 2.38rem;
}
.board-detail-counter-dislike-b {
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
}
.board-detail-counter-dislike,
.board-detail-counter-dislike-b {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.13rem;
  height: 2.38rem;
}
.board-detail-counter {
  position: absolute;
  top: 75.31rem;
  right: 2.25rem;
  width: 7.63rem;
  height: 2.38rem;
  text-align: center;
  font-size: 0.81rem;
  color: #000;
}
.advertise-text1 {
  position: absolute;
  top: 2.63rem;
  left: calc(50% - 27px);
  letter-spacing: -0.24px;
}
.advertise-box1 {
  position: absolute;
  width: calc(100% - 30px);
  top: 79.94rem;
  right: 0.94rem;
  left: 0.94rem;
  height: 7rem;
  font-size: 1.25rem;
  color: #000;
}
.board-detail-hr-icon {
  position: absolute;
  width: calc(100% - 40px);
  top: 89.03rem;
  right: 1.25rem;
  left: 1.25rem;
  max-width: 100%;
  overflow: hidden;
  height: 0.08rem;
}
.board-detail-comments-counts {
  position: absolute;
  top: 90.06rem;
  left: 1.25rem;
  font-size: 1rem;
  letter-spacing: -0.24px;
  font-weight: 500;
  color: #4a4a4a;
}
.board-detail-commnets-form-box {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  height: 15.25rem;
}
.board-detail-commnets-form-img-icon {
  position: absolute;
  top: 0.94rem;
  left: 1rem;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  object-fit: cover;
}
.board-detail-commnets-form-tex {
  position: absolute;
  width: calc(100% - 68px);
  top: 1.06rem;
  right: 1rem;
  left: 3.25rem;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  height: 9.81rem;
}
.board-detail-commnets-form {
  position: absolute;
  width: calc(100% - 32px);
  top: 92.25rem;
  right: 1rem;
  left: 1rem;
  height: 15.25rem;
}
.board-detail-commnets-form-sub {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 8px;
  background-color: #721ea6;
  width: 7.25rem;
  height: 2.5rem;
}
.board-detail-commnets-form-sub1 {
  position: absolute;
  top: 0.63rem;
  right: 1.94rem;
  letter-spacing: -0.24px;
}
.board-detail-commnets-submit-b {
  position: absolute;
  top: 103.94rem;
  right: 2rem;
  width: 7.25rem;
  height: 2.5rem;
  font-size: 0.88rem;
  color: #fff;
}
.board-detail-commnets-detail-i-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 2.19rem;
  height: 2.19rem;
  object-fit: cover;
}
.board-detail-commnets-detail-i {
  position: absolute;
  top: 109rem;
  left: 1.25rem;
  width: 11.06rem;
  height: 2.19rem;
  color: #1c1c1c;
}
.board-detail-commnets-all-up-b {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
  width: 1.83rem;
  height: 1.69rem;
}
.board-detail-commnets-all-up-i-icon {
  position: absolute;
  top: 0.72rem;
  right: 0.5rem;
  width: 0.77rem;
  height: 0.41rem;
}
.board-detail-commnets-all-up {
  position: absolute;
  top: 0;
  right: 4.73rem;
  width: 1.83rem;
  height: 1.69rem;
}
.board-detail-commnets-all-box {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
  width: 3.01rem;
  height: 1.69rem;
}
.board-detail-commnets-all-like2 {
  position: absolute;
  top: 0.38rem;
  right: 0.85rem;
  letter-spacing: -0.24px;
  font-weight: 500;
  display: inline-block;
  width: 1.18rem;
  height: 0.84rem;
}
.board-detail-commnets-all-down-icon {
  position: absolute;
  top: 0.71rem;
  right: 0.5rem;
  width: 0.77rem;
  height: 0.41rem;
}
.board-detail-commnets-all-down {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.83rem;
  height: 1.69rem;
}
.board-detail-commnets-all-like {
  position: absolute;
  top: 109.5rem;
  right: 1.19rem;
  width: 6.56rem;
  height: 1.69rem;
  text-align: center;
  font-size: 0.69rem;
  color: #000;
}
.board-detail-commnets-all-cont {
  position: absolute;
  width: calc(100% - 45px);
  top: 112rem;
  left: 1.19rem;
  letter-spacing: -0.24px;
  font-weight: 500;
  display: inline-block;
  height: 13rem;
}
.board-detail-commnets-hide-ico-icon {
  position: absolute;
  top: 0.31rem;
  left: -0.07rem;
  width: 0.72rem;
  height: 0.37rem;
}
.board-detail-commnets-hide-com,
.board-detail-commnets-hide-tex {
  position: absolute;
  top: 0;
  left: 1.13rem;
  letter-spacing: -0.24px;
}
.board-detail-commnets-hide-com {
  left: 6.75rem;
  color: #626567;
}
.board-detail-commnets-hide {
  position: absolute;
  top: 125.56rem;
  left: 1.56rem;
  width: 9.38rem;
  height: 1rem;
  text-align: center;
  font-size: 0.69rem;
  color: #721ea6;
}
.board-detail-recom-box {
  position: absolute;
  top: 127.31rem;
  left: 2.56rem;
  border-left: 1px solid #d2d2d2;
  box-sizing: border-box;
  width: 20.63rem;
  height: 13.75rem;
}
.board-detail-recom-info-counts {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 8.31rem;
  height: 1.06rem;
}
.board-detail-recom-info-date {
  position: absolute;
  top: 1.19rem;
  left: 0.06rem;
  font-size: 0.63rem;
  letter-spacing: -0.24px;
  color: #626567;
}
.board-detail-recom-info-text {
  position: absolute;
  top: 0;
  left: 2.75rem;
  width: 8.31rem;
  height: 2.06rem;
}
.board-detail-recom-info {
  position: absolute;
  top: 127.88rem;
  left: 3.13rem;
  width: 11.06rem;
  height: 2.19rem;
  color: #1c1c1c;
}
.board-detail-recom-likes-count {
  position: absolute;
  top: 0;
  right: 1.78rem;
  width: 3.01rem;
  height: 1.69rem;
}
.board-detail-recom-down-box {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  border: 1px solid #bdc0c4;
  box-sizing: border-box;
  width: 1.83rem;
  height: 1.69rem;
}
.board-detail-recom-likes {
  position: absolute;
  top: 128.38rem;
  right: 1.19rem;
  width: 6.56rem;
  height: 1.69rem;
  text-align: center;
  font-size: 0.69rem;
  color: #000;
}
.board-detail-recom-recom-form,
.board-detail-recom-textarea {
  position: absolute;
  left: 3.31rem;
  letter-spacing: -0.24px;
  font-weight: 500;
}
.board-detail-recom-textarea {
  width: calc(100% - 82px);
  top: 130.75rem;
  display: inline-block;
  height: 7.75rem;
}
.board-detail-recom-recom-form {
  top: 139.31rem;
  text-align: center;
}
.fboard-detail {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(210, 210, 210, 0.9);
  box-sizing: border-box;
  width: 100%;
  height: 142.44rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #626567;
  font-family: "Noto Sans KR";
}
