.advertise-main {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    height: 10.8rem;
}
.advertise-text {
    position: absolute;
    top: 4.05rem;
    left: calc(50% - 19px);
    letter-spacing: -0.24px;
    display: inline-block;
    width: 3.7rem;
    height: 2.8rem;
}
.advertise-box {
    position: absolute;
    width: calc(100% - 30px);
    top: 8.3rem;
    right: 1.3rem;
    left: 1.7rem;
    height: 10.8rem;
    font-size: 2rem;
}
.review-write-scolum-box {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 10px;
    background-color: #eaeff3;
    height: 6.5rem;
}
.review-write-lcolumn,
.review-write-scolumn {
    position: absolute;
    top: 1.3rem;
    left: 2.7rem;
    letter-spacing: -0.24px;
}
.review-write-scolumn {
    top: 3.7rem;
    font-size: 1.3rem;
    color: #721ea6;
}
.review-write {
    position: absolute;
    width: calc(100% - 30px);
    top: 20.2rem;
    right: 1.2rem;
    left: 1.8rem;
    height: 6.5rem;
    font-size: 1.8rem;
    font-family: Roboto;
}
.review-write-subject-text {
    position: absolute;
    width: calc(100% - 259.94px);
    top: 0;
    left: 0;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    color: #626567;
}
.review-write-subject-box-icon {
    position: absolute;
    width: calc(100% - 107px);
    top: 2.9rem;
    right: 0;
    left: 10rem;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    height: 3.9rem;
    margin-left: 10px;
    border: 1px solid #626567;
}
.review-write-select-box-icon {
    position: absolute;
    top: 2.9rem;
    left: 0;
    border-radius: 5px;
    width: 10rem;
    height: 3.9rem;
    /*padding-left: 1.5rem;*/
    border: 1px solid #626567;
    color: #626567;
    font-size: 13px;
}
.review-write-subject {
    position: absolute;
    width: calc(100% - 80px);
    top: 28.6rem;
    right: 4.3rem;
    left: 3.7rem;
    height: 6.8rem;
    font-size: 1.5rem;
}
.review-write-company-text {
    position: absolute;
    width: calc(100% - 233px);
    top: 0;
    left: 0;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    color: #626567;
}
.review-write-company {
    position: absolute;
    width: calc(100% - 80px);
    top: 36.3rem;
    right: 4.3rem;
    left: 3.7rem;
    height: 6.8rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.review-search-icon {
    position: absolute;
    top: 41rem;
    right: 5.4rem;
    width: 1.5rem;
    height: 2.1rem;
}
.review-write-search-box-icon{
    position: absolute;
    width: 100%;
    top: 2.9rem;
    right: 0;
    left: 0;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    height: 3.9rem;
    border: 1px solid #626567;
}
.review-stars-icons {
    position: absolute;
    top: -5.6rem;
    right: 0rem;
    /*width: 12.3rem;*/
    height: 2.26rem;
    display: inline;
}

.star-filled,
.star-empty{
    width: 2rem;
}

.review-content-box-icon {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    height: 19.4rem;
    padding-left: 2rem;
    padding-top: 2rem;
    resize: none;
}
.review-content-text {
    position: absolute;
    top: 1.1rem;
    left: 1.6rem;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    width: 14.6rem;
    height: 2.2rem;
}
.review-content {
    position: absolute;
    width: calc(100% - 80px);
    top: 52.4rem;
    right: 4rem;
    left: 4rem;
    height: 19.4rem;
    color: #626567;
}
.notice-like-countbox-child {
    position: absolute;
    top: -0.05rem;
    left: -0.05rem;
    background-color: #fff;
    border: 1px solid #bdc0c4;
    box-sizing: border-box;
    width: 4.23rem;
    height: 3.32rem;
}
.notice-like-countbox {
    position: absolute;
    top: 0;
    left: 2.44rem;
    width: 4.13rem;
    height: 3.22rem;
}
.group-child {
    position: absolute;
    top: -0.05rem;
    left: -0.05rem;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    border: 1px solid #bdc0c4;
    box-sizing: border-box;
    width: 2.61rem;
    height: 3.32rem;
}
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 6.49rem;
    width: 2.51rem;
    height: 3.22rem;
}
.group-item {
    position: absolute;
    top: -0.05rem;
    left: -0.05rem;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    border: 1px solid #bdc0c4;
    box-sizing: border-box;
    width: 2.61rem;
    height: 3.32rem;
}
.rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.51rem;
    height: 3.22rem;
}
.notice-like-count-input {
    position: absolute;
    top: 0.75rem;
    left: 4.31rem;
    letter-spacing: -0.24px;
    font-weight: 500;
    display: inline-block;
    width: 0.59rem;
    height: 1.61rem;
    opacity: 0.5;
}
.notice-like {
    position: absolute;
    top: 0;
    left: 0;
    width: 9rem;
    height: 3.22rem;
}
.notice-dislike-icon,
.notice-like-icon {
    position: absolute;
    top: 1.36rem;
    right: 0.56rem;
    width: 1.38rem;
    height: 0.83rem;
}
.notice-like-icon {
    top: 1.16rem;
    right: 6.96rem;
}
.review-stars {
    position: absolute;
    top: 46.1rem;
    left: 4.2rem;
    width: 9rem;
    height: 3.22rem;
    text-align: center;
}
.review-form-btn-rec-icon {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    width: 10rem;
    height: 3.3rem;

}
.review-form-btn-text {
    position: absolute;
    top: 0.7rem;
    right: 0.5rem;
    letter-spacing: 0.03em;
    font-weight: 500;
    display: inline-block;
    width: 7.2rem;
    height: 1.6rem;

}
.review-form-btn-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.7rem;
    width: 2.4rem;
    height: 2.4rem;
    overflow: hidden;
}
.review-form-btn {
    position: absolute;
    top: 75.1rem;
    right: 4.2rem;
    width: 10rem;
    height: 3.3rem;
    text-align: center;
    color: #fff;
    background-color: #721ea6;
    border-radius: 5px;
    border: none;
}
.review-write-form {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 78.4rem;
    overflow: hidden;
    text-align: left;
    font-size: 1.3rem;
    color: #000;
    font-family: "Noto Sans KR";
    margin-bottom: 2rem;
}
.star-filled {
    color: #EFAA5A;
}